body {
    min-height: 100vh;
    margin: 0;
    margin-left: 40px;
    background-image: linear-gradient(120deg, rgb(191, 242, 167), rgb(185, 250, 255), rgb(185, 250, 255));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5%;
    color: rgb(0, 50, 77);
    overflow: hidden;
}

.link {
    color: rgb(0, 60, 93);
    text-decoration: solid;
    transition: font-size 0.5s ease;
}

.link:hover {
    color: rgb(0, 127, 112);
    text-decoration: underline;
    font-size: 31px;
    
}

li {
    margin-bottom: 30px;
    transition: margin-bottom 0.5s ease;
}

:root {
    --size: 65vw;
}

#credit {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
